# Genel .NET derleme klasörleri
**/bin/
**/obj/

# Derlenmiş dosyalar
*.dll
*.exe
*.pdb
*.cache
*.log
*.tlog
*.ipch
*.VC.db
*.VC.VC.opendb

# Kullanıcıya özel dosyalar
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio & Rider
.vs/
.idea/
*.DotSettings.user
_ReSharper*/

# Test çıktıları
TestResults/
*.trx
*.coverage
*.coveragexml
TestResult.xml

# NuGet ve paket yönetimi
packages/
*.nupkg
*.snupkg
project.assets.json
*.nuget.props
*.nuget.targets

# Geçici ve yedek dosyalar
*.dbmdl
*.bak
*.tmp
~$*

# VSCode ayarları
.vscode/
.history/

# Dotnet Artifacts
artifacts/
coverage*/  # Coverlet / Code Coverage çıktıları

# Yayınlama çıktıları
publish/
AppPackages/

# Ionide (F# araçları)
.ionide/
